.modal__card{
    padding: 20px;
    width: 350px;
    height: 400px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;

}

.btns__update__modal, 
.btns__create__modal{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}


@media (min-width: 680px) {
    .modal__card{
        width: 400px;
    }
}